.container {
    width: 150px;
    height: 150px;
    display: flex;
    padding-top: 250px;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 150px;
    height: 150px;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-family: cursive;
    font-size: xx-large;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(33, 37, 41);
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #fff;
    margin: 10px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
}


/* responsive */
@media only screen and (min-width: 320px) and (max-width: 991px) {
    .main {
        flex-direction: column;
    }
}